body {
  font-family: Arial, sans-serif;
  color: whitesmoke;
  margin: 0%;
  padding: 0%;
  background-color: rgb(48, 45, 45);
}

header {
  display: flex;
  justify-content: center;
  padding: 12px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0%;
  padding: 0%;
}

nav a {
  display: block;
  text-decoration: none;
  background: linear-gradient(to right, #2fcabd, rgb(253, 253, 253));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 250%;
}

main {
  padding: 12px;
}

section {
  margin-bottom: 20px;
}


footer {
  bottom:0; 
  height: 20px;
  background-color:#2E8ECE;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
  position:absolute;
  text-decoration: underline overline whitesmoke;
  left: 0;
  right: 0;
}

footer p {
  margin: auto; 
  text-align: center;
}